body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(41, 39, 39); /* lighter grey */
}

#upload {
  background-color: #1db954; /* Premium green */
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  text-align: center;
}

#upload:hover {
  background-color: #168f42; /* Darker on hover */
} 

#file {
  display: none; 
}